html {
  background-color: #cce6ff;
}

nav {
  background-color: #66b3ff;
  text-align: center;
}

.container {
  margin: 5%;
  border: solid lightgrey 1px;
  padding: 5%;
  background-color: white;
}

map {
  background-color: pink;
  outline-color: pink;
}

map.hover {
  background-color: blueviolet;
  outline-color: blueviolet;
}
.nav-link:hover {
  background-color: cadetblue;
}

figure {
  margin: 5%;
}
